@import "../../node_modules/dhtmlx-gantt/codebase/dhtmlxgantt.css";
@import "../../node_modules/@fschopp/project-planning-ui-for-you-track/dist/index.css";

/*
 * Own styles
 * ==========
 */

/* Fill the entire parent (requires the parent to be positioned) */
.fill-parent {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*
 * dhtmlxGantt
 * ===========
 */

/* No need to show the border introduced by .gantt_layout_cell_border_top */
.gantt-container {
  margin: -1px -2px -2px -1px;
}

.horizontal-divider-resize-handle {
  cursor: ew-resize;
  position: absolute;
  width: 10px;
  height: 100%;
  top: 0;
  left: -5px;
  z-index: 1;
  /* The following taken from https://stackoverflow.com/a/4407335/11810559 */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.gantt_row.resolved-issue .gantt_tree_content, .gantt_task_line.resolved-issue .gantt_task_content {
  text-decoration-line: line-through;
}

.gantt_task_cell.weekend, .gantt_scale_cell.weekend {
  background-color: #f8f9fa;
}

/*
 * dhtmlxGantt computes the size of the subscale such that it covers the bottom border of the enclosing
 * div.gantt_task_scale. As a workaround, we set bottom-border for the cell element (it’s transparent for non-weekend
 * cells).
 */
.gantt_scale_cell.weekend {
  border-bottom: 1px solid #cecece;
}
