@import "../../node_modules/dhtmlx-gantt/codebase/dhtmlxgantt.css";
@import "../../node_modules/@fschopp/project-planning-ui-for-you-track/dist/index.css";

/**
 * Own styles
 * ==========
 */

/** Fill the entire parent (requires the parent to be positioned) */
.fill-parent {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*
 * Bootstrap
 * =========
 */

/* Highlight the active navbar item, and let the highlighting have the full-height of the navbar. */

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-nav {
  align-items: center;
}

.nav-item {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.nav-item.active {
  background-color: rgba(0,0,0,.1);
}


/**
 * dhtmlxGantt
 * ===========
 */

/* No need to show the border introduced by .gantt_layout_cell_border_top */
.gantt-container {
  margin: -1px -2px -2px -1px;
}

.horizontal-divider-resize-handle {
  cursor: ew-resize;
  position: absolute;
  width: 10px;
  height: 100%;
  top: 0;
  left: -5px;
  z-index: 1;
}

.gantt_task_bg {
  /* See .gantt-timeline-background */
  position: relative;
  min-height: 100%;
}
.gantt-timeline-background {
  top: 0;
  /* Percentage values are computed relative to the containing block, see
     https://developer.mozilla.org/en-US/docs/Web/CSS/Containing_block:
     "If the position property is absolute, the containing block is formed by the edge of the padding box of the
     nearest ancestor element that has a position value other than static (fixed, absolute, relative, or sticky)."
     We thus need want the 'position' attribute of the enclosing element (.gantt_task_bg) not to be static. */
  width: 100%;
  height: 100%;
  position: absolute;
}

.gantt-timeline-background-line {
  /* same as property 'border-bottom' from .gantt_task_row */
  stroke: #ebebeb;
  shape-rendering: crispEdges;
}

.gantt_row.resolved-issue .gantt_tree_content, .gantt_task_line.resolved-issue .gantt_task_content {
  text-decoration-line: line-through;
}
